{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}数据管理 - 表格{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/data_table.js' %}"></script>
{% endblock page_js %}
{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">数据管理 /</span> 表格
</h4>
<!-- Basic Bootstrap Table -->
<div class="card mb-4">
  <h5 class="card-header">选择查询数据或表格：</h5>
  <div class="card-body">
    <form id="formDataselection" method="POST" action="{% url 'datamanage_datatable' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
            <select class="form-select" id="dataselection" name="dataselection" required>
              {% for model in model_info %}
                <option value="{{ model.file_name }}">{{ model.file_name_chinese }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="querydata">&nbsp;</label>
            <button type="submit" id="querydata" class="btn btn-primary me-2">查询</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% if records %}
<div class="card">
  <h5 class="card-header">{{ file_name_chinese }}
  </h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr class="text-nowrap">
          <th>#</th>
          {% for column_name in column_names %}
            <th>{{ column_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for record in records %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          {% for column_name in column_names %}
            <td>{{ record|get_item:column_name }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<nav aria-label="选择页面">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item first">
        <a class="page-link" href="?page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
      </li>
      <li class="page-item prev">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="tf-icon bx bx-chevron-left"></i></a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item next">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="tf-icon bx bx-chevron-right"></i></a>
      </li>
      <li class="page-item last">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--/ Basic Bootstrap Table -->
{% endblock %}
{% block styles %}
<style>
    .cell-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px; /* 可根据需要调整 */
        display: inline-block;
        vertical-align: middle;
    }

    .cell-content.expanded {
        white-space: normal;
        max-width: none;
    }

    .pagination {
        justify-content: center;
    }

    .expand-btn {
        display: inline-block;
        vertical-align: middle;
    }
</style>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.expand-btn').forEach(function(btn) {
        btn.addEventListener('click', function() {
            var cellContent = btn.previousElementSibling;
            if (cellContent.classList.contains('expanded')) {
                cellContent.classList.remove('expanded');
                btn.innerHTML = '<span class="tf-icons bx bx-plus-circle"></span>';  // 更改按钮内容
            } else {
                cellContent.classList.add('expanded');
                btn.innerHTML = '<span class="tf-icons bx bx-chevron-up"></span>';  // 更改按钮内容
            }
        });
    });
});
</script>
{% endblock %}
